<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImWood.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ImWood.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=ImWood;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ImWood.Properties.Settings>
            <setting name="AccTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Dorza</string>
                        <string>Fioka</string>
                        <string>Kom</string>
                        <string>Pllotna - cm</string>
                        <string>Cokle - cm</string>
                        <string>Lift</string>
                        <string>PVC</string>
                        <string>Llavabor</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ElementCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>16mm</string>
                        <string>18mm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ElementDesigns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Standard</string>
                        <string>Gola</string>
                        <string>Lumezia</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ImWood.Properties.Settings>
    </userSettings>
</configuration>
