USE [ImWood]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accessories](
	[Type] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ElementID] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Accessories] ([Type], [Quantity], [ElementID]) VALUES (N'V-72x15', 1, 5018)
INSERT [dbo].[Accessories] ([Type], [Quantity], [ElementID]) VALUES (N'Dorza', 1, 5018)
INSERT [dbo].[Accessories] ([Type], [Quantity], [ElementID]) VALUES (N'Kom', 4, 5018)
GO
ALTER TABLE [dbo].[Accessories] ADD  CONSTRAINT [DF_Accessories_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Accessories] ADD  CONSTRAINT [DF_Accessories_ElementID]  DEFAULT ((1)) FOR [ElementID]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_Elements] FOREIGN KEY([ElementID])
REFERENCES [dbo].[Elements] ([ID])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [FK_Accessories_Elements]
GO
