USE [ImWood]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Town] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [Name], [Phone], [Town]) VALUES (4, N'Satki', N'Enes 070538896', N'Debresh')
INSERT [dbo].[Clients] ([ID], [Name], [Phone], [Town]) VALUES (5, N'Halil Jusufi', N'075221483', N'Gostivar-Mond Commerce')
INSERT [dbo].[Clients] ([ID], [Name], [Phone], [Town]) VALUES (6, N'Faton', N'070248415', N'Gostivar - Feko Dent')
GO
SET IDENTITY_INSERT [dbo].[Clients] OFF
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Town]  DEFAULT ('Gostivar') FOR [Town]
GO
