USE [ImWood]
GO
/****** Object:  Table [dbo].[KitchenDrawers]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenDrawers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DrawerID] [int] NOT NULL,
	[DimensionID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Inbox] [bit] NOT NULL,
 CONSTRAINT [PK_KitchenDrawers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KitchenDrawers] ON 

INSERT [dbo].[KitchenDrawers] ([ID], [DrawerID], [DimensionID], [Quantity], [Inbox]) VALUES (1, 6, 88573, 2, 0)
INSERT [dbo].[KitchenDrawers] ([ID], [DrawerID], [DimensionID], [Quantity], [Inbox]) VALUES (2, 6, 88574, 2, 0)
INSERT [dbo].[KitchenDrawers] ([ID], [DrawerID], [DimensionID], [Quantity], [Inbox]) VALUES (3, 8, 88575, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[KitchenDrawers] OFF
ALTER TABLE [dbo].[KitchenDrawers] ADD  CONSTRAINT [DF_KitchenDrawers_Inbox]  DEFAULT ((0)) FOR [Inbox]
GO
ALTER TABLE [dbo].[KitchenDrawers]  WITH CHECK ADD  CONSTRAINT [FK_KitchenDrawers_DrawerModels] FOREIGN KEY([DrawerID])
REFERENCES [dbo].[DrawerModels] ([ID])
GO
ALTER TABLE [dbo].[KitchenDrawers] CHECK CONSTRAINT [FK_KitchenDrawers_DrawerModels]
GO
ALTER TABLE [dbo].[KitchenDrawers]  WITH CHECK ADD  CONSTRAINT [FK_KitchenDrawers_ManualDimensions] FOREIGN KEY([DimensionID])
REFERENCES [dbo].[ManualDimensions] ([ID])
GO
ALTER TABLE [dbo].[KitchenDrawers] CHECK CONSTRAINT [FK_KitchenDrawers_ManualDimensions]
GO
