USE [ImWood]
GO
/****** Object:  Table [dbo].[Kitchens]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kitchens](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[DateStarted] [smalldatetime] NOT NULL,
	[DateExpire] [smalldatetime] NOT NULL,
	[Comments] [varchar](1000) NULL,
	[Finished] [bit] NOT NULL,
	[FrontMaterial] [varchar](500) NULL,
	[KonstMaterial] [varchar](500) NULL,
	[DateFinished] [smalldatetime] NULL,
	[Name] [varchar](50) NULL,
	[PolicaMaterial] [varchar](50) NULL,
	[FiokaMaterial] [varchar](50) NULL,
	[LesonitMaterial] [varchar](50) NULL,
 CONSTRAINT [PK_Kitchens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Kitchens] ON 

INSERT [dbo].[Kitchens] ([ID], [ClientID], [DateStarted], [DateExpire], [Comments], [Finished], [FrontMaterial], [KonstMaterial], [DateFinished], [Name], [PolicaMaterial], [FiokaMaterial], [LesonitMaterial]) VALUES (1005, 4, CAST(0xA56E04A4 AS SmallDateTime), CAST(0xA5B704A3 AS SmallDateTime), N'', 1, N'', N'', CAST(0xA5C903FD AS SmallDateTime), N'Garderober', NULL, NULL, NULL)
INSERT [dbo].[Kitchens] ([ID], [ClientID], [DateStarted], [DateExpire], [Comments], [Finished], [FrontMaterial], [KonstMaterial], [DateFinished], [Name], [PolicaMaterial], [FiokaMaterial], [LesonitMaterial]) VALUES (1006, 5, CAST(0xA56F04B3 AS SmallDateTime), CAST(0xA58E04B2 AS SmallDateTime), N'', 1, N'Bardh Super Mat 16mm', N'K008 18 mm ABS 2mm', CAST(0xA58F02C2 AS SmallDateTime), N'Zyra', NULL, NULL, NULL)
INSERT [dbo].[Kitchens] ([ID], [ClientID], [DateStarted], [DateExpire], [Comments], [Finished], [FrontMaterial], [KonstMaterial], [DateFinished], [Name], [PolicaMaterial], [FiokaMaterial], [LesonitMaterial]) VALUES (1007, 6, CAST(0xA56F04D7 AS SmallDateTime), CAST(0xA57804D6 AS SmallDateTime), N'', 1, N'', N'', CAST(0xA57802D5 AS SmallDateTime), N'Tavolina', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Kitchens] OFF
ALTER TABLE [dbo].[Kitchens] ADD  CONSTRAINT [DF_Kitchens_DateStarted]  DEFAULT (getdate()) FOR [DateStarted]
GO
ALTER TABLE [dbo].[Kitchens] ADD  CONSTRAINT [DF_Kitchens_Finished]  DEFAULT ((0)) FOR [Finished]
GO
ALTER TABLE [dbo].[Kitchens]  WITH CHECK ADD  CONSTRAINT [FK_Kitchens_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Kitchens] CHECK CONSTRAINT [FK_Kitchens_Clients]
GO
