USE [ImWood]
GO
/****** Object:  Table [dbo].[KitchenElements]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenElements](
	[KitchenID] [int] NOT NULL,
	[ElementID] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[KitchenElements] ([KitchenID], [ElementID], [Quantity]) VALUES (21014, 5020, 1)
INSERT [dbo].[KitchenElements] ([KitchenID], [ElementID], [Quantity]) VALUES (21014, 5018, 2)
INSERT [dbo].[KitchenElements] ([KitchenID], [ElementID], [Quantity]) VALUES (39032, 9077, 1)
GO
ALTER TABLE [dbo].[KitchenElements] ADD  CONSTRAINT [DF_KitchenElements_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[KitchenElements]  WITH CHECK ADD  CONSTRAINT [FK_KitchenElements_Elements] FOREIGN KEY([ElementID])
REFERENCES [dbo].[Elements] ([ID])
GO
ALTER TABLE [dbo].[KitchenElements] CHECK CONSTRAINT [FK_KitchenElements_Elements]
GO
ALTER TABLE [dbo].[KitchenElements]  WITH CHECK ADD  CONSTRAINT [FK_KitchenElements_Kitchens] FOREIGN KEY([KitchenID])
REFERENCES [dbo].[Kitchens] ([ID])
GO
ALTER TABLE [dbo].[KitchenElements] CHECK CONSTRAINT [FK_KitchenElements_Kitchens]
GO
