USE [ImWood]
GO
/****** Object:  Table [dbo].[Dimensions]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dimensions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Height] [float] NOT NULL,
	[Width] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Kant] [varchar](10) NULL,
	[Type] [varchar](25) NOT NULL,
	[ElementID] [int] NOT NULL,
	[Funksioni] [varchar](10) NULL,
	[Kant2] [varchar](10) NULL,
 CONSTRAINT [PK_Dimensions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Dimensions] ON 

INSERT [dbo].[Dimensions] ([ID], [Height], [Width], [Quantity], [Kant], [Type], [ElementID], [Funksioni], [Kant2]) VALUES (3080, 717, 147, 1, N'', N'Front', 5018, N'V', N'')
INSERT [dbo].[Dimensions] ([ID], [Height], [Width], [Quantity], [Kant], [Type], [ElementID], [Funksioni], [Kant2]) VALUES (3081, 720, 540, 2, N'2sh - 1gj', N'Konstrukti', 5018, N'', N'1gj')
INSERT [dbo].[Dimensions] ([ID], [Height], [Width], [Quantity], [Kant], [Type], [ElementID], [Funksioni], [Kant2]) VALUES (3082, 114, 520, 1, N'', N'Konstrukti', 5018, N'', N'1sh')
GO
SET IDENTITY_INSERT [dbo].[Dimensions] OFF
ALTER TABLE [dbo].[Dimensions] ADD  CONSTRAINT [DF_Dimensions_Kant]  DEFAULT ((4)) FOR [Kant]
GO
ALTER TABLE [dbo].[Dimensions]  WITH CHECK ADD  CONSTRAINT [FK_Dimensions_Elements] FOREIGN KEY([ElementID])
REFERENCES [dbo].[Elements] ([ID])
GO
ALTER TABLE [dbo].[Dimensions] CHECK CONSTRAINT [FK_Dimensions_Elements]
GO
