USE [ImWood]
GO
/****** Object:  Table [dbo].[KitchenAccessories]    Script Date: 7/13/2020 3:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KitchenAccessories](
	[KitchenID] [int] NOT NULL,
	[ID] [varchar](50) NULL,
	[Type] [varchar](50) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KitchenAccessories] ([KitchenID], [ID], [Type], [Quantity], [Description]) VALUES (1006, NULL, N'Dorza', 9, NULL)
INSERT [dbo].[KitchenAccessories] ([KitchenID], [ID], [Type], [Quantity], [Description]) VALUES (1006, NULL, N'Kom', 22, NULL)
INSERT [dbo].[KitchenAccessories] ([KitchenID], [ID], [Type], [Quantity], [Description]) VALUES (1006, N'Samet 30cm full / 1 - 45cm', N'F*Smart Slide', 7, NULL)
GO
ALTER TABLE [dbo].[KitchenAccessories]  WITH CHECK ADD  CONSTRAINT [FK_KitchenAccessories_Kitchens] FOREIGN KEY([KitchenID])
REFERENCES [dbo].[Kitchens] ([ID])
GO
ALTER TABLE [dbo].[KitchenAccessories] CHECK CONSTRAINT [FK_KitchenAccessories_Kitchens]
GO
